# Maven build
target/

# Logs
*.log
logs/
hs_err_pid*.log
replay_pid*.log

# Eclipse
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# temp merge compare files
pom.kadai.xml
pom.mygame.xml
web.kadai.xml
web.mygame.xml
index.kadai.jsp
index.mygame.jsp

