<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- ログ出力ディレクトリ -->
	<property name="LOG_DIR" value="C:/opt/tomcat11/logs/app" />


	<!-- ログフォーマット -->
	<property name="LOG_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

	<!-- コンソールにログを出力する Appender -->
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- ファイルにログを出力する Appender -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/app.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- ローテーション後のファイル名 -->
			<fileNamePattern>${LOG_DIR}/application.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- 保存日数 -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 個別ロガーの例（パッケージ単位など） -->
	<logger name="jp.co.sfontier.ss3.game" level="DEBUG"
		additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>


	<!-- ルートロガー -->
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
