<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>エラー</title>
</head>

<body>
	<div class="error-container">
		<h1>エラーページ</h1>

		<p th:text="${message}" class="error-message"> エラーメッセージ</p>

		<img th:src="@{/images/error.png}" alt="エラー" class="error-image">

		<hr>

		<div class="error-actions">
			<form th:action="@{/}" method="get">
				<button class="menu-button">トップへ戻る</button>
			</form>
		</div>
	</div>
</body>

</html>