<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>対戦履歴</title>
</head>

<body>

	<h1>対戦履歴</h1>

	<table border="1">
		<tr>
			<th>日時</th>
			<th>あなた</th>
			<th>相手</th>
			<th>結果</th>
		</tr>

		<tr th:each="h : ${histories}">
			<td th:text="${#dates.format(h.matchDatetime, 'yyyy/MM/dd HH:mm:ss')}"></td>

			<td th:text="${T(jp.co.sfrontier.ss3.game.common.Direction)
	                        .get(h.attackerDirection).label}">
			</td>

			<td th:text="${T(jp.co.sfrontier.ss3.game.common.Direction)
	                        .get(h.defenderDirection).label}">
			</td>

			<td th:text="${T(jp.co.sfrontier.ss3.game.common.ResultCode)
	                        .fromCode(h.judge).label}">
			</td>
		</tr>
	</table>

	<br>

	<form th:action="@{/}" method="get">
		<button>トップへ戻る</button>
	</form>

</body>

</html>