<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>履歴</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<div th:replace="fragments/sidebar :: sidebar"></div>
	<!-- タブ -->
	<header class="tabs">
		<a class="tab" th:href="@{/history(tab='all')}" th:classappend="${tab == 'all'} ? 'active' : ''">すべての履歴</a>

		<a class="tab" th:href="@{/history(tab='janken')}"
			th:classappend="${tab == 'janken'} ? 'active' : ''">じゃんけんゲーム対戦履歴</a>

		<a class="tab" th:href="@{/history(tab='acchi')}"
			th:classappend="${tab == 'acchi'} ? 'active' : ''">あっちむいてほい対戦履歴</a>
	</header>

	<main class="container">
		<div class="title-box">
			<h1>
				すべてのゲーム対戦履歴
			</h1>
		</div>

		<table class="history-table">
			<thead>
				<tr>
					<th>対戦日時</th>
					<th>ゲームタイプ</th>
					<th>ユーザー</th>
					<th>対戦相手</th>
					<th>対戦結果</th>
				</tr>
			</thead>

			<tbody>
				<!-- rowsが空のとき -->
				<tr th:if="${#lists.isEmpty(rows)}">
					<td colspan="5">履歴がありません</td>
				</tr>

				<!-- rowsを繰り返し表示 -->
				<tr th:each="row, stat : ${rows}" th:classappend="${stat.index % 2 == 0} ? 'is-gray' : ''">
					<td><span th:text="${row.executeDatetime}"></span></td>
					<td><span th:text="${row.gameTypeName}"></span></td>
					<td><span th:text="${row.userName}"></span></td>
					<td><span th:text="${row.opponent}"></span></td>
					<td><span th:text="${row.result}"></span></td>
				</tr>
			</tbody>
		</table>

		<div>
			<a th:if="${page > 1}" th:href="@{/history(tab=${tab}, page=${page-1})}">前へ</a>

			<span th:text="|${page} / ${totalPages}|"></span>

			<a th:if="${page < totalPages}" th:href="@{/history(tab=${tab}, page=${page+1})}">次へ</a>
		</div>
	</main>

</body>

</html>