<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>パスワード再登録</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
	<div class="layout">
		<div id="overlay" class="overlay"></div>
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<main class="login-page">
			<div class="login-box">
				<h1>パスワード再登録</h1>

				<p th:if="${errorMessage}" th:text="${errorMessage}" class="error"></p>

				<form th:action="@{/changePassword}" th:object="${changePasswordForm}" method="post">

					<div class="form-group">
						<input type="text" th:field="*{userNameOrMailAddress}" placeholder="ユーザ名 or メールアドレス" required>
						<div th:if="${#fields.hasErrors('userNameOrMailAddress')}" th:errors="*{userNameOrMailAddress}"
							class="error"></div>
					</div>

					<div class="form-group">
						<input type="password" th:field="*{newPassword}" placeholder="新しいパスワード" required>
						<div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="error"></div>
					</div>

					<div class="form-group">
						<input type="password" th:field="*{confirmPassword}" placeholder="新しいパスワード(確認用)" required>
						<div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
							class="error">
						</div>
					</div>

					<button type="submit" class="btn">パスワードを更新してログイン</button>
				</form>
			</div>
		</main>
	</div>
	<script th:src="@{/js/sidebar.js}"></script>
</body>

</html>