<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワード再登録</title>
</head>
<body>
	<h1>パスワード再登録</h1>

	<p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></p>

	<form th:action="@{/changePassword}" th:object="${changePasswordForm}" method="post">
		<input type="text" th:field="*{userNameOrMailAddress}"
			placeholder="ユーザ名 or メールアドレス" required> <br>
		<div th:if="${#fields.hasErrors('userNameOrMailAddress')}" th:errors="*{userNameOrMailAddress}" style="color:red"></div>

		<input type="password" th:field="*{newPassword}"
			placeholder="新しいパスワード" required> <br>
		<div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" style="color:red"></div>

		<input type="password" th:field="*{confirmPassword}"
			placeholder="新しいパスワード(確認用)" required> <br>
		<div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color:red"></div>

		<button type="submit">パスワードを更新してログイン</button>
	</form>
</body>
</html>