<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<div class="login-page">

		<div class="login-box">

			<h1>ゲームアプリ ログイン</h1>

			<form th:action="@{/login}" method="post">

				<input type="text" name="userNameOrMailAddress" placeholder="ユーザ名 or メールアドレス">

				<input type="password" name="password" placeholder="パスワード">

				<button type="submit" class="btn">ログイン</button>

			</form>

			<div class="login-links">
				<a th:href="@{/register}">アカウントをお持ちでない方</a>
				<a th:href="@{/changePassword}">パスワードを忘れた方</a>
			</div>

		</div>
	</div>

</body>


</html>