<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<div th:replace="fragments/sidebar :: sidebar"></div>

	<div class="container">
		<h1>ゲームアプリ ログイン</h1>

		<p th:if="${loginError}" th:text="${loginError}" class="error"></p>

		<form th:action="@{/login}" th:object="${loginForm}" method="post">
			<input type="text" th:field="*{userNameOrMailAddress}" placeholder="ユーザ名 or メールアドレス" />
			<div th:if="${#fields.hasErrors('userNameOrMailAddress')}" th:errors="*{userNameOrMailAddress}"
				class="error"></div>

			<br>
			<input type="password" th:field="*{password}" placeholder="パスワード" />
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>

			<button type="submit">ログイン</button>
		</form>

		<div>
			<a th:href="@{/register}">アカウントをお持ちでない方</a>
			<br>
			<a th:href="@{/changePassword}">パスワードを忘れた方</a>
		</div>
	</div>
</body>

</html>