<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>メニュー</title>
	<link rel="icon" th:href="@{/logo.png}" type="image/png">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>


<body>

	<div class="menu-container">
		<h1>メニュー</h1>
		<div class="button-container">
			<button th:onclick="|location.href='@{/game/play}'|">じゃんけん</button>
			<button th:onclick="|location.href='@{/look-over-there}'|">あっち向いてほい</button>
			<button th:onclick="|location.href='@{/history}'|">対戦履歴画面</button>

			<form th:action="@{/logout}" method="post">
				<button type="submit">ログアウト</button>
			</form>
		</div>
	</div>

</body>

</html>