<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザ新規登録</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div th:replace="fragments/sidebar :: sidebar"></div>
	<div class="container">
		<h1>ユーザ新規登録</h1>

		<p th:if="${registerError}" th:text="${registerError}" class="error"></p>

		<form th:action="@{/register}" th:object="${registerForm}" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

			<input type="text" th:field="*{userName}" placeholder="ユーザ名" required>
			<div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error"></div>
			<br>
			<input type="text" th:field="*{mailAddress}" placeholder="メールアドレス" required>
			<div th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}" class="error"></div>
			<br>
			<input type="text" th:field="*{password}" placeholder="パスワード" required>
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>

			<button type="submit">登録してログイン</button>
		</form>
	</div>
</body>

</html>