<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="jp.co.sfrontier.ss3.janken_game.mapper.ResultHistoryMapper">

	<!-- 履歴一覧取得 -->
	<select id="selectHistoryRows"
		resultType="jp.co.sfrontier.ss3.janken_game.dto.ResultHistoryDto">
		SELECT
		TO_CHAR(rh.EXECUTE_DATETIME, 'YYYY/MM/DD HH24:MI') AS
		executeDatetime,
		u.USER_NAME AS userName,
		rh.GAME_TYPE_ID AS gameTypeId,
		gt.GAME_NAME AS gameTypeName,
		o.USER_NAME AS opponent,
		r.RESULT_NAME AS
		result
		FROM RESULT_HISTORY_TBL rh
		INNER JOIN USER_INFORMATION_TBL u
		ON
		rh.USER_ID = u.USER_ID
		INNER JOIN USER_INFORMATION_TBL o
		ON rh.OPPONENT
		= o.USER_ID
		INNER JOIN GAME_TYPE_MST gt
		ON rh.GAME_TYPE_ID =
		gt.GAME_TYPE_ID
		INNER JOIN RESULT_MST r
		ON rh.RESULT_ID = r.RESULT_ID
		<where>
			rh.USER_ID = #{userId}
			<if test="gameTypeId != null">
				AND GAME_TYPE_ID = #{gameTypeId}
			</if>
		</where>
		ORDER BY rh.EXECUTE_DATETIME DESC
		LIMIT 100
	</select>
</mapper>
